@page
@using Microsoft.Extensions.Localization
@using NecnatAbp.Localization
@using NecnatAbp.Web.Pages.NecnatAbp
@model NecnatAbp.Web.Pages.NecnatAbp.IndexModel
@inject IStringLocalizer<NecnatAbpResource> L

@{
}
<h1>NecnatAbp</h1>
<p>@L["SamplePageMessage"]</p>
